* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/* add opacity */

.sidebar {
  background: linear-gradient(
    to bottom,
    rgba(255, 200, 3, 0.75) -9.27%,
    rgba(0, 194, 255, 0.5) 151.65%
  );
  /* opacity: 0.5; */
  width: 30%;
}

.photo {
  border-radius: 50%;
  overflow: hidden;
}
